---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <h2 class="post-list-heading">{{ page.list_title | default: "hello world!" }}</h2>
  <img src="../../documents/kirby feet with tea.png" title="come let's have tea and waste time thinking about life, love, and anomalies" style="width:800px;height:150px;">
  <br>
  <!---<p style="font-size: 12px;text-align: right;">(...ahhhhh that's better) </p>--->
</div>

 <hr> 

 {% for post in site.posts %}   
    <h3>{{ post.date | date: "%Y %B %e - " }}<a href="{{ post.url }}">{{ post.title }}</a></h3>      
{% endfor %}


