---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <h2 class="post-list-heading">{{ page.list_title | default: "welcome to my closet in the internet!" }}</h2>
  <img src="../../documents/kirby feet with tea.png" title="get comfortable" style="width:1300px;height:300px;">
  <br>
  <p style="font-size: 12px;text-align: right;">(...ahhhhh that's better) </p>
</div>

<p>tl;dr</p>
<a href="../eat/with_speed.html">How to improve your life in one easy step.</a>
<br>
<br>
