---
layout: default
---

<h1>{{ page.title }}</h1>
<p><small><i>{{ page.date |  date: "date initiated: %Y %B %e" }}</i></small>
<br>
  <small><i>{{ page.date_updated |  date: "last updated: %Y %B %e" }}</i></small></p>

<div class="post">

  {{ content }}
</div>

{% assign filtered_posts = "" | split: "" %}
{% for post in site.posts %}
  {% if post.published and post.hide != true %}
    {% assign filtered_posts = filtered_posts | push: post %}
  {% endif %}
{% endfor %}

{% assign current_index = nil %}

{% for post in posts %}
  {% if post.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign prev_post = nil %}
{% assign next_post = nil %}

{% if current_index != nil %}
  {% assign prev_index = current_index | minus: 1 %}
  {% assign next_index = current_index | plus: 1 %}

  {% if prev_index >= 0 %}
    {% assign prev_post = posts[prev_index] %}
  {% endif %}

  {% if next_index < posts.size %}
    {% assign next_post = posts[next_index] %}
  {% endif %}
{% endif %}


<div class="post-nav">
  {% if page.previous %}
    <a href="{{ page.previous.url }}">&larr; Previous: {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next %}
    <a style="float: right;" href="{{ page.next.url }}"> Next: {{ page.next.title }} &rarr;</a>
  {% endif %}
</div>
<br><br>

